<button class="new-post-btn">New post</button>

<form class="post-form hide">
    <div>
        <input type="text" name="title" class="post-title-input" placeholder="title">
    </div>
    <div>
        <textarea name="post-body" placeholder="What's on your mind?"></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
        <button type="button" id="cancel">cancel</button>
    </div> 
</form>

<script src="/javascript/add-post.js"></script>