<button class="btn new-post-btn bg-danger text-white bg-opacity-50">New post</button>

<form class="post-form hide">
    <div>
        <input type="text" name="title" class="post-title-input" placeholder="title">
    </div>
    <div>
        <textarea name="post-body" placeholder="What's on your mind?"></textarea>
    </div>
    <div>
        <button type="submit" class="btn bg-danger bg-opacity-50 text-white text-center">Submit</button>
        <button type="button" id="cancel" class="btn bg-danger bg-opacity-50 text-white text-center">cancel</button>
    </div> 
</form>

<script src="/javascript/add-post.js"></script>