<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fitter</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <a href="/"><h1>Fitter</h1></a>
                <nav>
                    {{#if loggedIn}}
                    <p class="welcome-p">Welcome back, {{req.session.username}}</p>
                    <a href="/profile" class="nav-link">Profile</a>
                    <button id="logout" class="nav-link">logout</button>
                    {{else}}
                    <a href="/login">login/signup</a>
                    {{/if}}
                </nav>
            </header>

            <main>
                {{{ body }}}
            </main>

            <footer>
                Product of Christian Spence, Miller Dicarlo, Jake Mendez
            </footer>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </body>
</html>