{{#if loggedIn}}
<button class="new-post-btn">New post</button>

<form class="post-form hide">
    <div>
        <input type="text" name="title" class="post-title-input" placeholder="title">
    </div>
    <div>
        <textarea name="post-body" placeholder="What's on your mind?"></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
        <button type="button" id="cancel">cancel</button>
    </div> 
</form>
{{/if}}

<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>

{{#if loggedIn}}
<script src="/javascript/add-post.js"></script>
{{/if}}