{{#if loggedIn}}
<div class="new-post-section">
    {{> new-post post}}
</div>

{{/if}}

<div class="card-deck d-flex flex-wrap justify-content-evenly row align-items-center">
    {{#each posts as |post|}}
        {{> post-info post }}
    {{/each}}
<div>
