<div class="login-container">
    <form class="login-form">
        <div>
            <input type="text" id="email-login" placeholder="email">
        </div>
        <div>
            <input type="password" id="password-login" placeholder="password">
        </div>
        <div>
            <button type="submit" class="btn bg-danger bg-opacity-50 text-white text-center">login</button>
        </div>
    </form>

    <form class="signup-form">
        <div>
            <input type="text" id="username-signup" placeholder="username">
        </div>
        <div>
            <input type="text" id="email-signup" placeholder="email">
        </div>
        <div>
            <input type="password" id="password-signup" placeholder="password">
        </div>
        <div>
            <p>Are you an administrator?</p>
            <input type="checkbox" id="admin" name="admin" value="FALSE">
            <label for="admin">Yes</label>
        </div>
        <div>
            <button type="submit" class="btn sign-in-btn bg-danger bg-opacity-50 text-white text-center">signup</button>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>