.hide {
    display: none;
}

input, textarea {
    margin-top: 1em;
    padding: 0.5em 1.5em;
    text-align: center;
}

/* Header */

.page-title {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-style: italic;
}

.nav-link {
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
}

/* Log in Section */

.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* New Post Section */

.new-post-section {
    width: 100%;
    display: flex;
    flex: row;
    justify-content: center;
}

.btn {
    border: none;
    margin: 1em auto;
    border-radius: 3em;
    padding: 0.5em 1em;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}