.hide {
    display: none;
}

input, textarea {
    margin-top: 1em;
    padding: 0.5em 1.5em;
    text-align: center;
    border-radius: 1em;
}

/* Header */

.page-title {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-style: italic;
}

.nav-link {
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
}

/* Log in Section */

.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* New Post Section */

.new-post-section {
    width: 100%;
    display: flex;
    flex: row;
    justify-content: center;
}

.btn {
    border: none;
    margin: 1em auto;
    border-radius: 3em;
    padding: 0.5em 1em;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Post Section */

.card-deck {
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-deck-profile {
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 15em;
    height: 20em;
    position: relative;
}

.card-title {
    padding: 1em;
    text-align: center;
}

.post-title-link {
    color: white;
}

.single-post {
    margin-top: 2em;
}

.post-author {
    color: rgb(147, 147, 147)
}

/* Profile */

.profile-title {
    text-align: center;
}

/* Comments */

.comment-form {
    margin-top: 2em;
}

.comment {
    margin-top: 1em;
    background-color: rgb(187, 187, 187);
    padding: 0.5em 1.5em;
}